.col-sm-4
  = render "form"
.col-sm-3
  %h4
    %b
      IIIT-H Campus,
      %br
      %br
      2nd Floor, Vindhya C4, 
      %br
      %br
      Gachibowli, Hyderabad-500032
      %br
      %br
      Contact: +91 9866402306 
      %br
      %br
      E-mail: info@ostryalabs.com
.col-sm-3
  = render "contact_us" 
