
%html
  %head
    %script{:language => "JavaScript", :src => "http://j.maxmind.com/app/geoip.js", :type => "text/javascript"}
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
  %body
    :javascript
            var map;
            function initialize() {
                var options =
                {
                zoom: 15,
                center: new google.maps.LatLng(17.444792 , 78.348310),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: true,
                mapTypeControlOptions:
                {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                poistion: google.maps.ControlPosition.TOP_RIGHT,
                mapTypeIds: [google.maps.MapTypeId.ROADMAP,
                google.maps.MapTypeId.TERRAIN,
                google.maps.MapTypeId.HYBRID,
                google.maps.MapTypeId.SATELLITE]
                },
                navigationControl: true,
                navigationControlOptions:
                {
                style: google.maps.NavigationControlStyle.ZOOM_PAN
                },
                scaleControl: true,
                disableDoubleClickZoom: true,
                draggable: false,
                streetViewControl: true,
                draggableCursor: 'move'
                };
                map = new google.maps.Map(document.getElementById("map"), options);
                // Add Marker and Listener
                var latlng = new google.maps.LatLng(17.444792 , 78.348310);
                var marker = new google.maps.Marker
                (
                {
                position: latlng,
                map: map,
                title: 'Click me'
                }
                );
                var infowindow = new google.maps.InfoWindow({
                content: 'OstryaLabs'
                });
                google.maps.event.addListener(marker, 'click', function () {
                // Calling the open method of the infoWindow 
                infowindow.open(map, marker);
                });
                }
                window.onload = initialize;
  #map{:style => "height: 350px; width: 400px"}/
                
  %br
