%ul.pull-left
  %li{"data-menuanchor" => "firstPage"}
    %a{:href => "#firstPage"} Home
  %li{"data-menuanchor" => "secondPage"}
    %a{:href => "#secondPage"} Projects
  %li{"data-menuanchor" => "3rdPage"}
    %a{:href => "#3rdPage"} Blog
  %li{"data-menuanchor" => "4thpage"}
    %a{:href => "#4thpage"} Training
  %li{"data-menuanchor" => "5thpage"}
    %a{:href => "#5thpage"} Technologies
  %li{"data-menuanchor" => "6thpage"}
    %a{:href => "#6thpage"} People
  %li{"data-menuanchor" => "7thpage"}
    %a{:href => "#7thpage"} Careers
  %li{"data-menuanchor" => "8thpage"}
    %a{:href => "#8thpage"} Contact Us
