%link{:href => "/assets/rock.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
%ul.nav
  %li{"data-menuanchor" => "firstPage"}
    .item
      %a{:href => "/home#firstPage"}
        .link.icon_home
          .item_content
            %h2 Home
  %li{"data-menuanchor" => "secondPage"}
    .item
      %a{:href => "/home#secondPage"}
        .link.icon_photos
          .item-content
            %h2 Proj
  %li{"data-menuanchor" => "3rdPage"}
    .item
      %a{:href => "/home/blog"}
        .link.icon_find
          .item-content
            %h2 Blog
  %li{"data-menuanchor" => "4thPage"}
    .item
      %a{:href => "#4thpage"}
        .link.icon_help
          .item-content
            %h2 Training
  %li{"data-menuanchor" => "5thPage"}
    .item
      %a{:href => "/home#5thpage"}
        .link.icon_mail
          .item-content
            %h2 Technologies
  %li{"data-menuanchor" => "6thPage"}
    .item
      %a{:href => "/home#6thpage"}
        .link.icon_home
          .item-content
            %h2 People
  %li{"data-menuanchor" => "7thPage"}
    .item
      %a{:href => "/home#7thpage"}
        .link.icon_photos
          .item-content
            %h2 Careers
  %li{"data-menuanchor" => "8thPage"}
    .item
      %a{:href => "/home#8thpage"}
        .link.icon_find
          .item-content
            %h2 Contact Us


:javascript
  $('.item').hover(
      function(){
          var $this = $(this);
          expand($this);
      },
      function(){
          var $this = $(this);
          collapse($this);
      }
  );
  function expand($elem){
      var angle = 0;
      var t = setInterval(function () {
          if(angle == 1440){
              clearInterval(t);
              return;
          }
          angle += 40;
          $('.link',$elem).stop().animate({rotate: '+=-40deg'}, 0);
      },10);
      $elem.stop().animate({width:'180px'}, 1000)
          .find('.item_content').fadeIn(400,function(){
              $(this).find('p').stop(true,true).fadeIn(600);
          });
  }
  function collapse($elem){
      var angle = 1440;
      var t = setInterval(function () {
          if(angle == 0){
              clearInterval(t);
              return;
          }
          angle -= 40;
          $('.link',$elem).stop().animate({rotate: '+=40deg'}, 0);
      },10);
      $elem.stop().animate({width:'52px'}, 1000)
          .find('.item_content').stop(true,true).fadeOut().find('p').stop(true,true).fadeOut();
  }


