.row
  .col-sm-4
    .pic1
      .text1
        Be yourself; everyone else is already taken
  .col-sm-4
    .pic2
      .text2
        Be the change that you wish to see in the world
  .col-sm-4
    .pic3
      .text3
        A problem is only a problem when viewed as a problem
%br
.row
  .col-sm-4
    .pic4
      .text4
        All change is hard at first, messy in the middle and gorgeous at the end
  .col-sm-4
    .pic5
      .text5
        If you’re not scared a lot you’re not doing very much
  .col-sm-4
    .pic6
      .text6
        The only failure is not trying

