!!! Strict
%html
  %head
    %title Rocking Rolling Rounded Menu with jQuery and CSS3
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Rolling Rounded Menu with jQuery and CSS3", :name => "description"}/
    %meta{:content => "jquery, css3, rolling, rounded, menu, navigation", :name => "keywords"}/
    %link{:href => "/assets/rock.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    :css
      *{
          margin:0;
          padding:0;
          background:#f9f9f9;
      }
      .title{
          width:703px;
          height:144px;
          position:absolute;
          top:0px;
          left:0px;
          background:transparent url(title.png) no-repeat top left;
      }
      a.back{
          background:transparent url(back.png) no-repeat top left;
          position:fixed;
          width:150px;
          height:27px;
          outline:none;
          bottom:0px;
          left:0px;
      }
  %body
    %br
    %br
    %br
    %div
      %a.back{:href => "http://tympanus.net/codrops/2010/04/30/rocking-and-rolling-rounded-menu-with-jquery/"}
      .title
    .menu
      .item
        %a.link.icon_mail
        .item_content
          %h2 Contact us
          %p
            %a{:href => "mailto:info@tympanus.net"} eMail
            %a{:href => "http://www.twitter.com/codrops/"} Twitter
            %a{:href => "http://www.facebook.com/pages/Codrops/159107397912"} Facebook
      .item
        %a.link.icon_help
        .item_content
          %h2 Help
          %p
            %a{:href => "#"} FAQ
            %a{:href => "#"} Live Support
            %a{:href => "#"} Tickets
      .item
        %a.link.icon_find
        .item_content
          %h2 Search
          %p
            %input{:type => "text"}
            %a{:href => ""} Go
      .item
        %a.link.icon_photos
        .item_content
          %h2 Image Gallery
          %p
            %a{:href => "#"} Categories
            %a{:href => "#"} Archives
            %a{:href => "#"} Featured
      .item
        %a.link.icon_home
        .item_content
          %h2 Start from here
          %p
            %a{:href => "http://www.tympanus.net/"} Services
            %a{:href => "http://www.tympanus.net/"} Portfolio
            %a{:href => "http://www.tympanus.net/"} Pricing
    -# %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", :type => "text/javascript"}
    -# %script{:src => "jquery-css-transform.js", :type => "text/javascript"}
    -# %script{:src => "jquery-animate-css-rotate-scale.js", :type => "text/javascript"}
    :javascript
      $('.item').hover(
          function(){
              var $this = $(this);
              expand($this);
          },
          function(){
              var $this = $(this);
              collapse($this);
          }
      );
      function expand($elem){
          var angle = 0;
          var t = setInterval(function () {
              if(angle == 1440){
                  clearInterval(t);
                  return;
              }
              angle += 40;
              $('.link',$elem).stop().animate({rotate: '+=-40deg'}, 0);
          },10);
          $elem.stop().animate({width:'268px'}, 1000)
          .find('.item_content').fadeIn(400,function(){
              $(this).find('p').stop(true,true).fadeIn(600);
          });
      }
      function collapse($elem){
          var angle = 1440;
          var t = setInterval(function () {
              if(angle == 0){
                  clearInterval(t);
                  return;
              }
              angle -= 40;
              $('.link',$elem).stop().animate({rotate: '+=40deg'}, 0);
          },10);
          $elem.stop().animate({width:'52px'}, 1000)
          .find('.item_content').stop(true,true).fadeOut().find('p').stop(true,true).fadeOut();
      }
