%br
%br
%br
%br
.row
  .col-sm-2
  .col-sm-8
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default
        #headingOne.panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"aria-controls" => "collapse", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse"}
              BDD with Ruby on Rails 
        #collapse.panel-collapse.collapse{"aria-labelledby" => "heading", :role => "tabpanel"}
          .panel-body
            Ruby on Rails is the cleanest and fastest way to develop industrial strength web applications. It is based on the awesome Ruby language, and by adhering to principles like convention over configuration and DRY, it makes the developer's life pretty easy. In fact, Rails is pure fun!
            %br
            &nbsp &nbsp &nbsp &nbsp Behavior Driven Development(BDD) is a second generation agile methodology that grew out of the frustrations the first generation agilists faced with Test Driven Development. BDD encourages collaboration between developers, QA and business participants in a software project. BDD helps to write test cases in a natural language that non-programmers can read and there by facilitates in obtaining clear understanding of desired software behavior.
            %br
            &nbsp &nbsp &nbsp &nbsp The workshop will cover  - Ruby, Rails, RSpec, Cucumber & Git 


      .panel.panel-default
        #headingTwo.panel-heading{:role => "tab"}
          %h4.panel-title
            %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
              Angular JS
        #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
          .panel-body
            &nbsp &nbsp  AngularJS is a JavaScript MVC framework developed by Google that lets you build well structured, easily testable, and maintainable front-end applications.
            %br
            &nbsp &nbsp &nbsp &nbsp  If you haven’t tried AngularJS yet, you’re missing out. The framework consists of a tightly integrated toolset that will help you build well structured, rich client-side applications in a modular fashion—with less code and more flexibility.
            %br
            &nbsp &nbsp &nbsp &nbsp This workshop will  help you learn AngularJS as quickly and efficiently as possible.You will learn all the basics of AngularJS: directives, expressions, templates, and data binding.And you will learn everything else you need to know about AngularJS:Controllers, Modules, Events, DOM, Forms, Input, Validation, Http, and much more.
      .panel.panel-default
        #headingThree.panel-heading{:role => "tab"}
          %h4.panel-title
            %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
              Devise
        #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
          .panel-body
            Devise is a flexible authentication solution for Rails based on Warden. It:
            %br
            &nbsp &nbsp &nbsp &nbsp Is Rack based;
            %br
            &nbsp &nbsp &nbsp &nbsp Is a complete MVC solution based on Rails engines;
            %br
            &nbsp &nbsp &nbsp &nbsp Allows you to have multiple models signed in at the same time;
            %br
            &nbsp &nbsp &nbsp &nbsp Is based on a modularity concept: use just what you really need.
            %br
            The workshop will cover  Installation of the gem ,Adding Authentication to an Application
.row
  .col-sm-2

  %h4 Testimonials
  .col-sm-4
    .well
      My expectations from the workshop was merely to understand the Rails framework, and get over the initial pain that a developer goes through in the process of learning a new framework/technology himself. However, what I got in this workshop was much more than that.
      %br
      %br
      The content was very well hand-picked and prepared to provide the essential knowledge as well as to keep the audience interested throughout. The hands-on session were a very good supplemented to the theory classes.
      %br
      %br
      Arun and Suresh are two thorough professionals and the in-depth knowledge of the topics showed during the workshop. The personal touch to the training - of ensuring that the pace matched every single person on-board was a stand-out feature!
      %br
      %br
      Ritesh Gupta
      %br
      Senior Technical Architect (Java/J2EE), 11 years experience in IT 
  .col-sm-4
    .well
      Arun and Suresh did a great job of covering Ruby on Rails and related technologies like cucumber, RSpec, github, etc. with a good mix of presentation and hands-on lab time! Highly recommended for anyone who wants to learn these technologies.
      %br
      %br
      Krishna Natarajan
      %br
      25 years veteran in IT industry 
