//= require jquery-ui
//= require font-awesome
// = require_self
@import "font-awesome"
@import 'bootstrap'
@import 'custom'
@import 'image'
 
.test-center
  margin-top: 3%
  margin-left: 4%

.header
  z-index: 1
  position: fixed
  width: 100%
  height: auto
  
  
.menu-color
  color: #000000
.container
  margin-top: 5%
  width: 80%

.career-container
  margin-top: 5%
  width: 90%
  margin-left: 5%
  /* background: #E08283
  /* border: 1px solid #aaa
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  border-radius: 7px
.home-container
  font-size: 5em
  margin-top: 200px
.pic-container
  margin-top: 8%
  width: 100%
.fa.green
  color: #019875
  font-size: 1.5em
.fa.orange
  color: #D35400
  font-size: 1.5em
.fa.blue
  color: #4B77BE
  font-size: 1.5em

.fa.purple
  color: #8E44AD
  font-size: 1.5em
.fa.pink
  color: #DB0A5B
  font-size: 1.5em
.fa.navy
  color: #1F3A93
  font-size: 1.5em
.fa.sunset
  color: #F64747
  font-size: 1.5em
.fa.yellow
  color: #F9BF3B
  font-size: 1.5em
.font-text
  /* font-family: 'Comic Sans MS', cursive
.cont1
  background-color: #FECDCF
.brown
  color: #5A3B3B
.red
  color: #E30E27
.yel
  background-color: #CDF9FE
.yellow
  color: #FBEA00
.sky
  color: #48B5E8
.orange
  color: #FB8600
.white
  color: white
.black
  color: black
.brown
  color: #783E3E
.blue
  color: #55ACD4
.violet
  color: #1F3A93

.small-well
  width: 900px
  height: 70px
  background-color: #333333
  color: white
.half-white
  background-color: black
.half-black
  background-color: black
.white-background
  background-color: white
  border: 1px solid #aaa
  border-radius: 7px

.black-well
  background-color: black
  color: white
/* .btn
/*   background-color: white
/*   color: black
/*   border: 1px
/*   border-radius: 1px
