//= require jquery-ui
//= require font-awesome
// = require_self
@import "font-awesome"
@import 'bootstrap'
@import 'custom'
@import 'image'

/* .first_container 
/*   width: 100%
 

/* .second_container 
/*   width: 100%
/*   margin-top: 20%





.header
  z-index: 1
  position: fixed
  width: 100%
  height: auto
  /* background: rgba(0,0,0,0.125)

/* .header a
/*   color: white
/*   text-align: center
/*   font-family: 'Roboto Slab', serif
/*   text-decoration: none
/*   text-transform: uppercase
/*   letter-spacing: 2px
/*   font-size: 21px
  /* -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7)
  /* box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7)
  
.navbar-nav 
  margin: 0

.navbar-nav > li 
  float: none
  display: inline-block

.navbar-nav > li > a 
  /* -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7)
  /* box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7)
  
.navbar-nav > li.open > ul.dropdown-menu 
  position: absolute
  //border: 10px
  /* -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7)
  /* box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7)

  
/* .active 
/*   background-color: #198F77
  
.menu-color
  color: #000000

/* $yellow: #E8EBED

/* .content-item-gopika
/*   background: url('gopika.jpg')
/*   @include backface-visibility( hidden )
/*   height: 100%
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 100%
/*   border: 1px solid white
/*   border-radius: 7px
/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 9px
/*     color: #333
/*     position: absolute
/*     right: 9px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 10px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h3
/*       border-bottom: 1px solid #333
/*       padding: 0 0 10px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)
  

/* .content-item-arun
/*   background: url('arun.jpg')
/*   @include backface-visibility( hidden )
/*   height: 300px
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 350px
/*   border: 1px solid white
/*   border-radius: 7px

/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 15px
/*     color: #333
/*     position: absolute
/*     right: 15px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 30px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h3
/*       border-bottom: 1px solid #333
/*       padding: 0 0 12px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)
  


/* .content-item-hari
/*   background: url('hari.jpg')
/*   @include backface-visibility( hidden )
/*   height: 300px
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 350px
/*   border: 1px solid white
/*   border-radius: 7px

/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 15px
/*     color: #333
/*     position: absolute
/*     right: 15px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 30px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h3
/*       border-bottom: 1px solid #333
/*       padding: 0 0 12px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)
  
/* .content-item-srikanth
/*   background: url('srikanth.jpg')
/*   @include backface-visibility( hidden )
/*   height: 300px
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 350px
/*   border: 1px solid white
/*   border-radius: 7px

/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 9px
/*     color: #333
/*     position: absolute
/*     right: 9px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 10px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h2
/*       border-bottom: 1px solid #333
/*       padding: 0 0 10px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)
/* .content-item-muralee
/*   background: url('muralee.jpg')
/*   @include backface-visibility( hidden )
/*   height: 300px
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 350px
/*   border: 1px solid white
/*   border-radius: 7px

/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 9px
/*     color: #333
/*     position: absolute
/*     right: 9px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 10px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h2
/*       border-bottom: 1px solid #333
/*       padding: 0 0 10px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)
/* .content-item-navya
/*   background: url('navya.jpg')
/*   @include backface-visibility( hidden )
/*   height: 300px
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 350px
/*   border: 1px solid white
/*   border-radius: 7px

/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 9px
/*     color: #333
/*     position: absolute
/*     right: 9px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 10px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h2
/*       border-bottom: 1px solid #333
/*       padding: 0 0 10px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)
/* .content-item-priya
/*   background: url('priya.jpg')
/*   @include backface-visibility( hidden )
/*   height: 300px
/*   margin: 20px auto
/*   overflow: hidden
/*   position: relative
/*   width: 350px
/*   border: 1px solid white
/*   border-radius: 7px

/*   .overlay
/*     border-bottom: 0px solid $yellow
/*     border-left: 0px solid transparent
/*     bottom: 0
/*     height: 0
/*     opacity: .95
/*     position: absolute
/*     right: 0
/*     text-indent: -9999px
/*     @include transition(all .5s ease-out)
/*     width: 0
  
/*   &:hover .overlay
/*     border-bottom: 800px solid $yellow
/*     border-left: 800px solid transparent
/*     @include transition(all .5s ease-out)
  
/*   .corner-overlay-content
/*     bottom: 9px
/*     color: #333
/*     position: absolute
/*     right: 9px
/*     @include transition(all .5s ease-out)
  
/*   &:hover .corner-overlay-content
/*     opacity: 0
/*     @include transition(all .5s ease-out)
  
/*   .overlay-content
/*     bottom: 0
/*     color: #333
/*     left: 0
/*     opacity: 0
/*     padding: 10px
/*     position: absolute
/*     right: 0
/*     top: 0
/*     @include transition(all .3s ease-out)
/*     h2
/*       border-bottom: 1px solid #333
/*       padding: 0 0 10px
    
  
/*   &:hover .overlay-content
/*     opacity: 1
/*     @include transition(all .3s ease-out)
/*     @include transition-delay(.3s)

.border-container 
  border: 1px solid #aaa
  margin-left: 20px
  margin-right: 20px
  margin-top: 50px
  width: 1660px
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  border-radius: 7px

.font-text
  font-family: 'Comic Sans MS', cursive
.cont1
  background-color: #FECDCF
.brown
  color: #5A3B3B
.red
  color: #E30E27
.yel
  background-color: #CDF9FE
.yellow
  color: #FBEA00
.sky
  color: #48B5E8
.orange
  color: #FB8600
.white
  color: white
.black
  color: black
.brown
  color: #783E3E
.blue
  color: #55ACD4
.small-well
  width: 900px
  height: 70px
  background-color: #333333
  color: white
.half-white
  background-color: black
.half-black
  background-color: black
.white-background
  background-color: white
  border: 1px solid #aaa
  border-radius: 7px

.black-well
  background-color: black
  color: white
.btn
  background-color: white
  color: black
  border: 1px
  border-radius: 1px
