@import url('reset.css');

.container6{
    width: 100%;
    position: relative;
}
.clr{
    clear: both;
}

.header{
    font-family:'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    font-size: 1em;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    
}
.demos{
    position:relative;
    z-index: 1000;
    text-align:center;
	float: right;
	padding: 10px;
}









