!!!
%html
  %head
    %title Ostrya Labs
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico'
    .container-fluid
      .header
        %center
          %ul#myMenu
            -# .pull-left
            -#   %img.img-responsive{:src => "/assets/logo.jpg", :style => "width:70%; height:auto;"}/
            %li.active{"data-menuanchor" => "home"}
              %a{:href => "/home"}
                HOME
            %li{"data-menuanchor" => "projects"}
              %a{:href => "/home#projects"}
                PROJECTS
            %li{"data-menuanchor" => "blog"}
              %a{:href => "/home/blog"}
                BLOG
            %li{"data-menuanchor" => "training"}
              %a{:href => "/home#training"} 
                TRAINING
            %li{"data-menuanchor" => "technologies"}
              %a{:href => "/home#technologies"}
                TECHNOLOGIES
            %li{"data-menuanchor" => "people"}
              %a{:href => "/home#people"}
                PEOPLE
            %li{"data-menuanchor" => "careers"}
              %a{:href => "/home#careers"}
                CAREERS
            %li{"data-menuanchor" => "contact"}
              %a{:href => "/home#contact"}
                CONTACT US
      = yield        
      
                
